name: Docker Build

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:

permissions:
  packages: write
  actions: write

jobs:
  reusable:
    uses: groundsgg/.github/.github/workflows/docker-gradle-build-push.yml@main
