name: Docker Build

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:

permissions:
  packages: write
  actions: write

jobs:
  reusable:
    uses: groundsgg/.github/.github/workflows/docker-build-push.yml@feat/workflows
    with:
      image_title: service-player
      image_description: Quarkus-based gRPC service for player related operations.
